/* roboto-regular */
@font-face {
    font-display: swap;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: url('/fonts/roboto-v47-latin-regular.woff2') format('woff2');
}
/* roboto-italic */
@font-face {
    font-display: swap;
    font-family: 'Roboto';
    font-style: italic;
    font-weight: 400;
    src: url('/fonts/roboto-v47-latin-italic.woff2') format('woff2');
}
/* roboto-800/bold */
@font-face {
    font-display: swap;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 800;
    src: url('/fonts/roboto-v47-latin-800.woff2') format('woff2');
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
:target {
    scroll-margin-top: 5rem; /* Adjust this based on your navbar height */
}
:root {
    font-family: 'Roboto', sans-serif;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color-scheme: dark light;
}
@media (prefers-color-scheme: dark) {
    :root {
        --primary-bg: #212529;
        --secondary-bg: #343A40;
        --highlight-bg: #6C757D;
        --highlight-secondary-bg: #ADB5BD;
        --accent-color: #1c8bf6;
        --text-light: #F8F9FA;
        --text-dark: #24282c;
        --shadow-light: rgba(0, 0, 0, 0.1);
        --shadow-dark: rgba(0, 0, 0, 0.35);
        --main-bg: #15181b;
        --border-radius: 0.6rem;

        background-color: var(--main-bg);
        color: var(--text-light);
    }
}

/* General ===================================================================== */
p {
    font-size: 1rem;
    margin: 0.5em;
    line-height: 1.4rem;
}
h1, h2 { color: var(--accent-color); }
h1  {
    font-size: 5rem;
    text-align: center;
}
h2 {
    font-size: 2rem;
}
h3 {
    font-size: 1.35rem;
    margin-block: 0 0.43em;
}
.icon {
    font-size: 1.1rem;
}
a, button #text {
    cursor: pointer;
}
img {
    max-width: 100%;
}

/* Utility Classes ============================================================= */
.container {
    max-width: 80rem;
    min-width: 50rem;
    margin: 0 auto;
    padding: 3em;
}
.section-spacer {
    border: 0.22rem solid var(--primary-bg);
    border-radius: var(--border-radius);
    max-width: 85rem;
    width: 90%;
    margin: 4rem auto 4rem;
}

/* ToolBar =================================================================== */

.searchbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--highlight-bg);
    border: none;
    border-radius: var(--border-radius);
    padding: 0.5rem 0.7rem;
    gap: 0.5rem;
    transition: 0.1s ease;

    &:hover,
    &:focus-within {
        outline: solid 1px var(--text-light);
    }
    &:focus-within .searchIcon {
        color: var(--text-light);
    }

    .icon {
        color: var(--primary-bg);
        transition: 0.3s ease;
    }
    .searchInput {
        color: var(--text-light);
        flex-grow: 1;
        &::placeholder {
            color: var(--text-dark);
        }
    }
    .clearBtn:hover .icon {
        color: var(--text-light);
    }
}

/* Dropdown ==================================================================== */
.dropdown {
    display: none;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
}
.arrow-rotate {
    transform: rotate(90deg);
}
.dropdown-show {
    display: flex;
    animation-duration: 0.2s;
    animation-name: slide-in;
}
@keyframes slide-in {
    from {
        transform: translateY(-15px);
        opacity: 0;
    }
    to {
        transform: translateY(0px);
        opacity: 1;
    }
}

/* Buttons ===================================================================== */
button, .btn {
    cursor: pointer;
}
.btn {
    display: inline-flex;
    align-items: center;
    font-weight: bold;
    border: none;
    border-radius: var(--border-radius);
    width: fit-content;
    gap: 0.5em;
    padding: 0.3em 0.7em;
    transition: 0.2s ease-in-out;

    &:hover {
        transform: translateY(-0.08em);
    }
}
/* Button Types */
.btn-primary {
    color: var(--text-light);
    &:hover {
        color: var(--accent-color);
    }
}
.btn-secondary {
    background: var(--highlight-bg);
    color: var(--text-dark);
    &:hover  {
        background: var(--accent-color);
        color: var(--text-light);
    }
}
.btn-pressed {
    background: var(--accent-color);
}
.btn-disabled {
    color: var(--secondary-bg);
    pointer-events: none;
}

/* Navbar ====================================================================== */
#navbar {
    background-color: var(--primary-bg);
    padding: 0.8rem 1.3rem;
    position: sticky;
    z-index: 2;
    top: 0;
    overflow: hidden;
    box-shadow: -5px 10px 30px var(--shadow-dark);
    display: flex;
    justify-content: space-between;
    align-items: center;

    .main-menu {
        display: flex;
        padding: 0.6rem 1rem;
        gap: 0.8rem;
        align-items: center;

        .spacer {
            margin: 0 0.5rem;
            border-right: 2px solid var(--text-light);
            height: 2.2rem;
        }
    }
}
.logo {
    color: var(--text-light);
    font-size: 1.6rem;
    font-weight: bold;
    display: flex;
    align-items: center;

    .icon {
        margin-right: 0.5rem;
    }
}

/* Footer ====================================================================== */
#footer {
    background-color: var(--primary-bg);

    .container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 2.5rem;
        padding: 3rem 0;

        ul {
            display: flex;
            gap: 0.4rem;
        }

        .section-spacer {
            border-color: var(--secondary-bg);
            border-radius: var(--border-radius);
            border-width: 0.1rem;
            margin: 0 0;
        }

        .nav {
            display: flex;
            width: 88%;
            justify-content: space-between;
        }

        .main {
            justify-content: space-between;
            width: 85%;

            ul {
                display: flex;
                flex-direction: column;
            }

            h3 .icon {
                margin-right: 0.5rem;
            }

            .btn-primary {
                font-weight: 480;
                color: var(--highlight-bg);

                &:hover {
                    transform: translate(-0.15rem, 0);
                    color: var(--text-light);
                }
            }
        }
        p .icon {
            margin-right: 0.5rem;
        }
    }
}

/* Errors ====================================================================== */
.error {
    background: var(--primary-bg);
    border: none;
    border-radius: var(--border-radius);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    padding: 7rem 1.5rem 5rem;
    margin-top: 1rem;

    h1 .icon {
        font-size: 7rem;
    }
    .sub-text {
        color: var(--accent-color);
        font-size: 1.2rem;
        font-weight: bold;
        text-align: center;
    }
    .btn-secondary {
        padding: 0.6rem 1.2rem;
    }
}
.e404 {
    min-height: 60vh;
}
.loading {
    margin: 5rem auto;
    text-align: center;

    h3 .icon {
            margin-right: 0.5rem;
    }
}